.App {
  text-align: center;
}

.bg-myColor {
  background-image: linear-gradient(to right, #823604, #f96400);
}

.orange-theme {
  background-color: #ff8c00; /* Orange background color */
  color: #fff; /* White text color */
}

.card-title {
  color: "#FF8C00";
  text-decoration: "none";
}

.custom-nav .nav-link {
  color: #f96400 !important;
}

/* .custom-nav .nav-link.active,
.custom-nav .nav-item.show .nav-link {
  background-color: orange !important;
  border-color: orange !important;
  color: #fff !important;
}

.custom-nav .nav-item.show,
.custom-nav .nav-item:hover,
.custom-nav .nav-item:active {
  background-color: orange !important;
}

.custom-nav .nav-link:hover {
  color: #823604 !important;
} */

/* apply bold font to all the Form.Label in a Form element */

.custom-form .form-label {
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
